{
    local_certs
}
vault.lan {
    tls internal
    reverse_proxy 127.0.0.1:8081
}
git.lan {
    tls internal
    reverse_proxy 127.0.0.1:3000
}
dash.lan {
    tls internal
    reverse_proxy 127.0.0.1:8282
}
glances.lan {
    tls internal
    reverse_proxy 127.0.0.1:61208
}
pihole.lan {
    tls internal
    reverse_proxy 127.0.0.1:8083
}
search.lan {
    tls internal
    reverse_proxy 127.0.0.1:8888
}
noc.lan {
    tls internal
    root * /noc-status
    file_server
}

:8484 {
    root * /noc-status
    file_server
}

:8485 {
    reverse_proxy 127.0.0.1:61208
}

:8486 {
    reverse_proxy 127.0.0.1:3000
}

:8487 {
    reverse_proxy 10.10.10.4:61208
}

:8488 {
    reverse_proxy 10.10.10.5:61208
}
