{
    local_certs
}
vault.lan {
    tls internal
    reverse_proxy localhost:8081
}
git.lan {
    tls internal
    reverse_proxy localhost:3000
}
dash.lan {
    tls internal
    reverse_proxy localhost:8282
}
glances.lan {
    tls internal
    reverse_proxy host.containers.internal:61208
}
pihole.lan {
    tls internal
    reverse_proxy localhost:8083
}
search.lan {
    tls internal
    reverse_proxy localhost:8888
}
noc.lan {
    tls internal
    root * /noc-status
    file_server
}
