[Interface]
Address = 10.0.0.3/24
ListenPort = 51821
PrivateKey = REDACTED

[Peer]
# Cerberus - hub
PublicKey = SRmiMpAS6fVYvRKmVd4cjT6wDLNQqecWLktUNB28XmM=
Endpoint = 192.168.1.251:51820
AllowedIPs = 10.0.0.0/24
PersistentKeepalive = 25
