[Interface]
Address = 10.10.10.3/24
ListenPort = 51821
PrivateKey = REDACTED

[Peer]
# Cerberus - hub
PublicKey = REDACTED
Endpoint = 192.168.X.251:51820
AllowedIPs = 10.10.10.0/24
PersistentKeepalive = 25
